{% extends "base.html" %}
{% block content %}
    <div class="well">
<div class="row">
{% for domain in domain_list %}
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src={{ domain.domain_logo.url }} alt="...">
      <div class="caption">
        <h3>{{ domain.domain_name }}</h3>
        <p><a href="{% url 'research:domain' domain.id %}" class="btn btn-primary" role="button">See Detail</a>
        </p>
      </div>
    </div>
  </div>
{% endfor %}
</div>
    </div>
{% endblock %}